<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:48</td>   <td>-796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:48</td>   <td>-624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>-83</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>-74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:45</td>   <td>-4159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:48</td>   <td>-791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:48</td>   <td>-621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>-82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>-72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:49</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/09/03 13:17:14</td>   <td>-34760</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.launchBrowser()[pri:0, instance:test.java.libraryManagement.LibraryManagement@6591f517]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/03 13:17:45</td>   <td>-4149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryManagement.login()[pri:1, instance:test.java.libraryManagement.LibraryManagement@6591f517]">login</td> 
  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/03 13:17:48</td>   <td>-605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryManagement.showEntetiesUnderLibraryManagement()[pri:3, instance:test.java.libraryManagement.LibraryManagement@6591f517]">showEntetiesUnderLibraryManagement</td> 
  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/03 13:17:48</td>   <td>-781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryManagement.verifyIfLibraryManagementDispaysOnLeftMenu()[pri:2, instance:test.java.libraryManagement.LibraryManagement@6591f517]">verifyIfLibraryManagementDispaysOnLeftMenu</td> 
  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/03 13:17:49</td>   <td>-78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryManagement.verifyIfVideosDisplaysUnderLibraryManagement()[pri:4, instance:test.java.libraryManagement.LibraryManagement@6591f517]">verifyIfVideosDisplaysUnderLibraryManagement</td> 
  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/03 13:17:49</td>   <td>-66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryManagement.verifyNUmberOfVideosDisplayingOnFirstPage()[pri:5, instance:test.java.libraryManagement.LibraryManagement@6591f517]">verifyNUmberOfVideosDisplayingOnFirstPage</td> 
  <td>main@360067785</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/09/03 13:17:49</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryManagement.verifyTotalNumberOfVideos()[pri:6, instance:test.java.libraryManagement.LibraryManagement@6591f517]">verifyTotalNumberOfVideos</td> 
  <td>main@360067785</td>   <td></td> </tr>
</table>
